// Design Colors
$primary:       #128079;
$light-primary: #d9eae9;
$green:         #21cf3d;
$error:         #f34848;

$light-gray:    #f5f8fa;
$mid-gray:      #e5eaed;
$med-gray:      #d0d5d8;
$gray:          #91979a;
$dark-gray:     #757575;
$dark:          #262626;

$white:         #fff;
$black:         #000;

// Base Font Family
$default-font: 'Source Sans Pro', arial, verdana, san-serif;
